extends layout

block content
  h1= title

  - var university = [{ university_id: 123, university_name: 'NWMSU', university_location: 'Maryville' },{ university_id: 456, university_name: 'UNT', university_location: 'Dallas' },{ university_id: 789, university_name: 'UCM', university_location: 'Kansas City' }]

  div(class="container-fluid")

    div(class="row")
      each f, index in university
        div(class="col-sm-2", onclick=`buy(${index})` ) #{f.university_id}, #{f.university_name}, #{f.university_location}
        script.
          function buy(index)
          {
            alert(`you purchased Item: ${index+1}`)
          }