extends layout

block content
  h1= title
  - let university = results;
  div(class="container-fluid")
    div(class="row m-1")
      each item in university
        - let destination = `dispatch("/university/update?id=${item._id}")`
        div(class="row-sm-2 m-1") 
          | University with id #{item.university_id} is (#{item.name}) located at #{item.location}
          button.btn(class="btn-primary ml-1", onclick= destination) Update

  script.
    function dispatch(path){
      window.location.href = path;
    }
