extends layout

block content
  h1= title

  - var university = results;
  div(class="container-fluid")

    div(class="row")
      each f, index in university
        div(class="col-md-2", onclick=`buy(${index})` ) #{f.university_id}, #{f.name}, #{f.location}
        script.
          function buy(index)
          {
            alert(`you purchased Item: ${index+1}`)
          }